.tareas {
  border-bottom: #84d9bc;
  display: inline-block;
  margin-top: 5rem;
  color: #fff;
}

.tareas::after {
  content: "";
  background-color: #84d9bc;
  height: 1rem;
  width: calc(100% + 1rem);
  display: block;
  margin: -1rem 0 0 0;
}
@media (min-width: 768px) {
  .tareas::after {
    width: calc(100% + 1rem);
    margin: -1.6rem 0 0 0;
    font-weight: 900;
  }
}

.tareas__nueva {
  color: #313c4e;
  border-bottom: #fff;
  display: inline-block;
}
.tareas__nueva::after {
  content: "";
  background-color: #fff;
  height: 1rem;
  width: calc(100% + 1rem);
  display: block;
  margin: -0.8rem 0 0 0;
}

@media (min-width: 768px) {
  .tareas__nueva::after {
    width: calc(100% + 1rem);
    margin: -1.2rem 0 0 0;
    font-weight: 900;
    margin-bottom: 10px;
  }
}

body {
  background-color: #313c4e;
  font-family: poppins;
}

.boton {
  background-color: #fff;
  margin-bottom: 10px;
  color: #313c4e;
  font-weight: 700;
  border-radius: 3px;
  padding: 10px;
  border: none;
}

.boton:hover {
  background-color: #6abda1;
}

.btn__terminar {
  background-color: #84d9bc;
}

.btn__terminar:hover {
  background-color: #5caa90;
  color: #fff;
}

.btn__terminado {
  border: solid 1px #84d9bc;
  color: #84d9bc;
}

.btn__terminado:hover {
  background-color: #5caa90;
  color: #fff;
}
.formulario {
  background-color: #84d9bc;
}

@media (min-width: 768px) {
  .formulario {
    border-radius: 10px;
  }
}

.sin__tareas {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10rem;
}

.campos {
  background-color: rgb(245, 187, 187);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: solid red 1px;
}

textarea {
  height: 100px;
}
